# Pycharm stuff
.idea
*/__pycache__/

# Virtual Environments
.venv/
venv/
.env/
env/

# Node
node_modules/
*/static/*/node_modules/

# Django
core/settings.py
dynamic_forms/migrations/
*/migrations/

# Databases
*.sqlite3
db.sqlite3