<!-- Form Row -->
<div id="form_row" class="form-section py-2 mb-3 draggable form-item" data-form-type="form_row" data-form-section="true" hidden draggable="true">
    <fieldset>
        <legend><i class="fa-solid fa-rectangle-list"></i> Form Row <span class="input-settings" title="Input Settings"><button type="button" class="btn" data-bs-toggle="modal" data-modal-open="false"><i class="fa-solid fa-gear"></i></button></span><span class="remove-input" title="Remove Input"><button class="btn" type="button"><i class="fa-solid fa-trash"></i></button></span></legend>
        <div id="section-row" class="form-row"></div>
    </fieldset>
    <div class="modal fade  input-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Form Row</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveBtn" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Column -->
<div id="column" class="form-section py-2 mb-3 draggable form-item" data-form-type="column" data-form-section="true" hidden draggable="true">
    <fieldset>
        <legend><i class="fa-solid fa-table-columns"></i> Column <span class="input-settings" title="Input Settings"><button type="button" class="btn" data-bs-toggle="modal" data-modal-open="false"><i class="fa-solid fa-gear"></i></button></span><span class="remove-input" title="Remove Input"><button class="btn" type="button"><i class="fa-solid fa-trash"></i></button></span></legend>
        <div id="section-row" class="col form-row"></div>
    </fieldset>
    <div class="modal fade  input-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Column</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveBtn" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Divider Line -->
<div id="divider_line" class="form-section py-2 mb-3 draggable form-item" data-form-type="divider_line" data-form-section="true" hidden draggable="true">
    <fieldset>
        <legend><i class="fa-solid fa-arrows-left-right"></i> Divider Line <span class="input-settings" title="Input Settings"><button type="button" class="btn" data-bs-toggle="modal" data-modal-open="false"><i class="fa-solid fa-gear"></i></button></span><span class="remove-input" title="Remove Input"><button class="btn" type="button"><i class="fa-solid fa-trash"></i></button></span></legend>
        <div class="divider-line form-row"></div>
    </fieldset>
    <div class="modal fade  input-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Divider Line</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveBtn" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section Header -->
<div id="section_header" class="form-section py-2 mb-3 draggable form-item" data-form-type="section_header" data-form-section="true" hidden draggable="true">
    <fieldset>
        <legend><i class="fa-solid fa-heading"></i> Section Header <span class="input-settings" title="Input Settings"><button type="button" class="btn" data-bs-toggle="modal" data-modal-open="false"><i class="fa-solid fa-gear"></i></button></span><span class="remove-input" title="Remove Input"><button class="btn" type="button"><i class="fa-solid fa-trash"></i></button></span></legend>
        <div class="form-row">
            <div class="form-title title">Section Title</div>
            <div class="form-text description">Description</div>
        </div>
    </fieldset>
    <div class="modal fade  input-modal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Section Header</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveBtn" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>