{% extends 'theme/base.html' %}

{% block content %}
<div id="mainContent" class="d-flex m-auto mt-3 px-0 w-75 justify-content-between">
    <div id="sideNav" class="container col-3 me-3">
        <div class="nav-section d-flex">
            <button id="saveForm" type="button" class="btn btn-primary me-3" title="Save form">Save</button>
            <button id="previewForm" type="button" class="btn btn-outline-primary" title="Preview form"><i class="fa-solid fa-eye"></i></button>
        </div>

        <div class="nav-section">
            <button class="dropdown-caret border-bottom mb-3 btn w-100 text-start fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#formSection" aria-expanded="true" aria-controls="formSection"><i class="fa-solid fa-caret-up" data-rotation="0"></i> Form Data</button>
            <div id="formSection" class="collapse show">
                <form class="mainForm" method="post" action="{% url 'save-form' %}" data-form-type="main_form" novalidate>
                    {% csrf_token %}
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}

                {% for field in form %}
                    {% if not field.name == "form_id" %}
                        <div class="form-group mb-3">
                            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.choices %}
                                {{ choices }}
                            {% endif %}
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        </div>

                        {# Field errors #}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </form>
            </div>
        </div>

        <div class="nav-section">
            <button class="dropdown-caret border-bottom mb-3 btn w-100 text-start fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#inputSection" aria-expanded="false" aria-controls="inputSection"><i class="fa-solid fa-caret-up" data-rotation="0"></i> Form Inputs</button>
            <ul id="inputSection" class="nav flex-column collapse">
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="text_input"><span><i class="fa-solid fa-font"></i></span> Text Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="text_area"><span><i class="fa-solid fa-font"></i></span> Text Area</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="email_input"><span><i class="fa-solid fa-envelope"></i></span> Email Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="date_input"><span><i class="fa-solid fa-calendar-days"></i></span> Date Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="datetime_input"><span><i class="fa-solid fa-calendar-days"></i></span> Datetime Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="dropdown_input"><span><i class="fa-regular fa-square-caret-down"></i></span> Dropdown Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="multiple_dropdown_input"><span><i class="fa-regular fa-square-caret-down"></i></span> Multi-Select Dropdown Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="integer_input"><span><i class="fa-solid fa-hashtag"></i></span> Integer Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="decimal_input"><span><i class="fa-solid fa-hashtag"></i></span> Decimal Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="radio_input"><span><i class="fa-regular fa-circle-dot"></i></span> Radio Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="checkbox_input"><span><i class="fa-regular fa-square-check"></i></span> Checkbox Input</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="file_input"><span><i class="fa-solid fa-file"></i></span> File Input</li>
            </ul>
        </div>

        <div class="nav-section">
            <button class="dropdown-caret border-bottom mb-3 btn w-100 text-start fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#sectionsSection" aria-expanded="false" aria-controls="sectionsSection"><i class="fa-solid fa-caret-up" data-rotation="0"></i> Form Sections</button>
            <ul id="sectionsSection" class="nav flex-column collapse">
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="form_row"><span><i class="fa-solid fa-rectangle-list"></i></span> Form Row</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="divider_line"><span><i class="fa-solid fa-arrows-left-right"></i></span> Divider Line</li>
                <li class="nav-item fs-5 border border-secondary rounded-1 px-2 bg-dark-subtle mb-1 inputItem draggable" draggable="true" data-field-reference="section_header"><span><i class="fa-solid fa-heading"></i></span> Section Header</li>
            </ul>
        </div>
    </div>

    <!-- Rough Form Outline Section -->
    <div id="formDiv" class="form-container col-9">
        <!-- Form Name - can't be deleted and mandatory -->
        <fieldset id="formHeader" class="form-section-header mb-3">
            <legend>Form Name</legend>
            <h3 id="formHeaderText" class="py-2 px-3 align-middle"></h3>
        </fieldset>
        <!-- The rest of the form elements will be added below -->
        <div id="formInputsDiv" class="form-objects"></div>
    </div>
</div>

<!-- Form Field Templates -->
{% include 'dynamic_forms/snippets/form_fields.html' %}
<!-- Form Sections Templates -->
{% include 'dynamic_forms/snippets/form_sections.html' %}
{% endblock %}

{% block extra_js %}
<script>
    // making the nav top
    let sideNav = document.getElementById("sideNav");
    let siteNav = document.getElementById("siteNav");
    sideNav.style.top = `${siteNav.offsetHeight}px`;

</script>
{% endblock %}
