<div class="form-group {{ object.formData.parent_classes }} {% if object.formData.floating_label %}form-floating{% endif %}">
    {# building out the label, input, help text, and errors elements #}
    {% with form_data=object.formData %}
    {% if object.formData.floating_label %}
        {# setting the input first #}
        <input type="datetime-local" class="{{ form_data.input_classes }} form-control" name="{{ object.formData.field_name|slugify }}" maxlength="{{ form_data.max_length }}"
               {% if form_data.placeholder|length > 0 %}placeholder="{{ form_data.placeholder }}"{% endif %} {% if form_data.required %}required{% endif %}
        >
        <label for="{{ object.formData.field_name|slugify }}">{{ form_data.label }}</label>
    {% else %}
        <label for="{{ object.formData.field_name|slugify }}" class="form-label">{{ form_data.label }}</label>
        <input type="datetime-local" class="{{ form_data.input_classes }} form-control" name="{{ object.formData.field_name|slugify }}" maxlength="{{ form_data.max_length }}"
               {% if form_data.placeholder|length > 0 %}placeholder="{{ form_data.placeholder }}"{% endif %} {% if form_data.required %}required{% endif %}
        >
    {% endif %}
    <div class="form-text">{{ form_data.help_text }}</div>
    {% endwith %}
</div>